<% provide(:title, "about")%>

<div id="title_container">
	<h2 class='main_title'>About me</h2>
</div>
						
<div class="hr_title"><hr /></div>
		
<div class="content_item">

	<div class='item_body'>
			
		<div class='col1'>
				
			<p>Hi. I'm James Fisher, a Toronto based analyst / web developer / general hacker.

				I like to build things with modern, open source technologies.  I've got experience with the following:
				</p>
				
			<ul>
				<li>HTML, CSS</li>
				<li>Javascript, jQuery</li>
				<li>Perl</li>
				<li>Ruby/Rails</li>
				<li>Lots of SQL (MySQL, MSSQL)</li>
				<li>Processing</li>
			</ul>

			<p>I tweet very infrequently at <a href='http://twitter.com/fisherific'>@fisherific </a></p>
		
			<p>Best way to get is touch is via email: <a href="mailto:james@fisherific.com">james@fisherific.com</a></p>
						
		</div>
		
		<div class="col2">
			
			<img src="/assets/jaf5.jpg" id="profile">
				
		</div>
			
	<div style="display: block; clear: both;"></div>
	
	</div>

</div>
			



