	
	<div id="wrapper">
		
		<div id="header">
			
			<div id="header_inner">
				
				<div id="title">
					<a href="/"><h1>[fisherific]</h1></a>
				</div>

				<div id="nav">
					<ul class="nav">
						<li class="selected"><a href="/" class="nav_item">Home</a></li>
						<li><a href="/projects/" class="nav_item">Projects</a></li>
						<li><a href="/about/" class="nav_item">About</a></li>
					</ul>
				</div>
			
			</div>
			
		</div>
			
		<div id="main">
			
			<div id="content_holder">
				
					<div class="content">
					
					<div class='content_body'>
						<h2 class="home_text">Hi.  I'm <span class=""> James Fisher</span>.</h2>
						
						<h2 class="home_subtitle1">I like to use <span class="home_bold1"> web technology </span> to solve problems.</h2>
						
						<h2 class="home_subtitle2">I live and work in Toronto, Canada.</h2>
						
						<br>
						
						<div class='col1'>
							
							<h3>Check out some of my projects:</h3>
								<div class="hr_title"><hr /></div>
																
								<a href="projects.html"><img src="/assets/map_med.png"></a>
									
						</div>
						<div class="col2">
							<h3>Learn a bit more about me:</h3>
								<div class="hr_title"><hr /></div>
								
								<a href="about.html"><img src="/assets/jaf2_med.jpg"></a>

							
						</div>
				
						<div style="display: block; clear: both;"></div>
				
					</div>
			
				</div>
				

				<div id="footer">

					<div class="hr"><hr /></div>
					
					<p>&copy; Copyright 2012 James Fisher</p>

				</div>
				
			</div>	
				
		</div>
		
	</div>
		

 <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="js/jquery.fittext.js"></script>
   	<script>
      $(".home_text").fitText(0.85);
      $(".home_subtitle1").fitText(2.0);
      $(".home_subtitle2").fitText(2.0);
    </script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

	 <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js"><\/script>')</script>

	<script src="js/libs/bootstrap-modal.js"></script>
	<script src="js/libs/d3.js"></script>
	<script src="js/libs/d3.geom.js"></script>
	<script src="js/libs/d3.layout.js"></script>
	<!-- <script src="js/home.js"></script>-->


