<% provide(:title, "home")%>

<div id="title_container_home">
	<h2 class="home_text">Hi.  I'm James Fisher.</h2>
</div>
			
<h2 class="home_subtitle1">I like to use <span class="home_bold1"> open source technology </span> to solve problems.</h2>
	
<h2 class="home_subtitle2">I live and work in Toronto, Canada.</h2>
	
<br>
	
<div class='col1 home'>
		
	<h3>Check out some of my projects:</h3>

	<div class="hr_title"><hr /></div>
			
	<%= link_to image_tag('map_med.png'), projects_path %>
				
</div>

<div class="col2 home">

	<h3>Learn a bit more about me:</h3>

	<div class="hr_title"><hr /></div>
			
	<%= link_to image_tag('jaf2_med.jpg'), about_path %>

</div>

<div style="display: block; clear: both;"></div>
	

<script>
	$(".home_text").fitText(0.89);
	
	if ($(window).width() < 500 ){
		
		
		$(".home_subtitle1").fitText(1.6);
		$(".home_subtitle2").fitText(1.6);

		
	}else{
		
		$(".home_subtitle1").fitText(2.45);
		$(".home_subtitle2").fitText(2.45);
		
	}
	
	
	$(window).resize(function(){
		
		if ($(window).width() < 500 ){
			
			
			$(".home_subtitle1").fitText(1.5);
			$(".home_subtitle2").fitText(1.5);

			
		}else{
			
			$(".home_subtitle1").fitText(2.45);
			$(".home_subtitle2").fitText(2.45);
			
		}
		

		
	})
	

</script>


