<% provide(:title, "projects")%>

<div id="title_container">
	<h2 class='main_title'>Projects</h2>
</div>		
<div class="hr_title"><hr /></div>

<div class="content_item">
						


	<div class='item_body'>
				
		<div class='col1'>

			<a href="http://www.flickr.com/photos/indexity/6686861143/" title="TTC Speeds 2 by indexity, on Flickr"><img src="http://farm8.staticflickr.com/7011/6686861143_b0d6623f69_b.jpg" alt="TTC Speeds 2"></a>
			<a href="http://www.flickr.com/photos/indexity/6722822427/" title="TTC Speeds - Low Sample Rate by indexity, on Flickr"><img src="http://farm8.staticflickr.com/7169/6722822427_8dddc8e7d3_b.jpg" alt="TTC Speeds - Low Sample Rate"></a>

		</div>
					
		<div class="col2">
			
				<h3 class='content_title'>Toronto Transit Speeds</h3>

			<p>A data exploration project visualizing the speed of every surface route of 
				the TTC. All the TTC buses and streetcars traced for 6 hours the morning of 
				January 6th, 2012.  Average speed is indicated by colour, red being the slowest, 
				followed by orange, yellow, green and blue.
			</p>	
							
			<p>Check out the feature in <a href="http://torontoist.com/2012/01/colour-coding-your-commute/">Torontoist</a>, 
				as well as some mentions in the
				<a href="http://www.thestar.com/news/transportation/article/1121806--ttc-routes-during-rush-hour-watch-them-all-at-once">Toronto Star</a> and
				<a href="http://www.globaltoronto.com/video/a+birdseye+view+of+the+ttc/video.html?v=2190485386#segments/video">Global News</a>.
			</p>
									
			<p>Thanks to Open Data Toronto.  Build using Processing, QGIS, and some Photoshop for touchups.</p>
			
		</div>
					
		<div style="display: block; clear: both;"></div>
	
	</div>

</div>

<div class="hr"><hr /></div>

<div class="content_item">

	<div class='item_body'>
			
		<div class='col1'>

			<a href="http://indexity.net/vis/hw"><img src='/assets/data_explorer.png'></a>

		</div>
	
		<div class="col2">
			
				<h3 class='content_title'>Hollywood Data Explorer</h3>

			<p>An entry into the <a href='http://www.informationisbeautifulawards.com/2012/03/hall-of-fame-hollywood-challenge-winners/'>Information is Beautiful Hollywood Challenge</a>.
			
				This highly interactive web application is designed to explore some of 
				the metrics coming out of Hollywood. The tool covers over 500 films from 
				the past 5 years.
			</p>	
				
			<p>The data explorer specifically takes a neutral stance, 
				and allows the users to draw their own conclusions. 
				 There are literally thousands of possible combinations.
			</p>	
			
		
			<p>Built with lots of <a href='http://d3js.org'>d3</a> and jQuery.  
				Placed 2nd place in the interactive category.
			
			</p>
		</div>
				
		<div style="display: block; clear: both;"></div>

	</div>

</div>

<div class="hr"><hr /></div>

<div class='content_item'>
			
	<div class='col1'>
		<img src='/assets/fisherific.png'>
	</div>
	<div class="col2">
		
		<h3 class='content_title'>fisherific.com</h3>

		<p>The site you're looking at right now.  An effort to share some of my personal 
			projects with anyone who is interested.  Still a work in progress.
					
		</p>	
						
		<p>Build on Ruby on Rails (overkill at the moment, but more is coming). 
			 Responsive design works on a huge range of screen sized and devices.
		</p>	
					
	</div>
	
	<div style="display: block; clear: both;"></div>

</div>


	




				
